<html ng-app="mainContext">
<head>
  
  <script src="bower_components/angular/angular.js"></script>

  <script src="js/controllers.js"></script>
</head>
<body >
    
    <div ng-controller="subContext1">	
	    <span>{{name}}</span>
    </div>


    
    <div ng-controller="subContext2">	
	    <span>{{name}}</span>
    </div>		

</body>
</html>
